* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
body {
    font-family: "Poppins" ,sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --main-background-colour: #183446;
    --light-color: #FFFAFA;
    --gray-colour: #696969;
}


/*Utilities*/


/*Text*/
/*Mobile font size*/
@media (max-width: 480px) {
    .text-small {
        font-size: 0.75rem;
        line-height: 1.4;
        font-weight: normal;
       
    }
    .text-regular {
        font-size: 1rem;
        line-height: 1.4;
        font-weight: normal;
        
    }
    .text-large {
        font-size: 1.25rem;
        line-height: 1.4;
        font-weight: normal;
       
    }
    .text-x-large {
        font-size: 1.75rem;
        line-height: 1.4;
        font-weight: 600;
        
    }
    .text-xx-large {
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 600;
       
    }

}




/*Containers*/
.container {
    width: 90%;
    margin: auto;
}

/*Buttons*/
.blue-button {
    padding: 5px 15px;
    background-color: #00A6ED;
    color: var(--main-background-colour);
    border-radius: 15px;
    width: fit-content;
    border: none;
    font-weight: 700;
}
.dark-button {
    padding: 5px 15px;
    background-color: var(--main-background-colour);
    color: var(--light-color);
    border-radius: 15px;
    width: fit-content;
    border: none;
    font-weight: 700;
}



/*Header*/
header {
    background-color: var(--light-color);
    color: var(--main-background-colour);
}
header .container {
    
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 15px;
    
    
}
header .container a {
    text-decoration: none;
    color: var(--light-colour);
    font-weight: 800;
}


/*Hero*/
.hero {
    background-color: var(--main-background-colour);
}
.hero .container .content {
    text-align: center;
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 15px;
    padding-bottom: 20px;
}
.hero .container .content .get-started {
    align-self: center;
}

/*What we do page*/
.what-we-do {
    background-color: var(--light-color);
}
.what-we-do .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px 0;
}
.what-we-do .container .small-header {
    color: var(--gray-colour);

}
.what-we-do .container .header {
    font-weight: 800;

}
.what-we-do .container .main-content {
    color: var(--gray-colour);
    width: 85%;
    padding-top: 10px;
}

/*Info Cards*/
.info-cards {
    background-color: var(--light-color);
}
.info-cards .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0;
}
.info-cards .container .card {
    background-color: #E5E5E5;
    padding: 15px 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info-cards .container .card i {
    background-color: var(--main-background-colour);
    color: var(--light-color);
    font-size: 50px;
    padding: 10px;
    border-radius: 15px;
    width: fit-content;
    
}
.info-cards .container .card a {
    text-decoration: none;
    color: var(--main-background-colour);
    font-weight: bolder;
}
.info-cards .container .card h2 {
    color: var(--main-background-colour);
}
.info-cards .container button {
    align-self: center;
}

/*Comp Image*/
.comp-image {
    background-color: var(--main-background-colour);
}
.comp-image .container img {
    width: 100%;
    border-radius: 15px;
}
.comp-image {
    padding: 20px 0;
}

/*What we offer*/
.what-we-offer {
    background-color: var(--light-color);
}
.what-we-offer .container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.what-we-offer .container .main-header-area {
    display: flex;
    flex-direction: column;
}

.what-we-offer .container .main-header-area p {
    color: var(--gray-colour);
    font-size: smaller;
}
.what-we-offer .container .tick-offer-area {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.what-we-offer .container .tick-offer-area .offer h4 {
    display: flex;
    gap: 8px;
    align-items: center;
}
.fa-circle-check {
    color: #00A6ED;
}
.what-we-offer .container .tick-offer-area .offer p {
    color: var(--gray-colour);
    width: 80%;
}
.what-we-offer .container .tick-offer-area .offer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}




